.metcasts-list-admin {
  list-style-type: none;
  padding: 0;
  max-width: 600px;
  margin: 10px auto 0;
  text-align: left;
}

.remove-btn,
.edit-btn {
  margin: 5px;
}

.edit-btn {
  margin-left: 0;
}

.add-btn {
  margin-top: 10px;
}

.logo {
  width: 50px;
  height: 50px;
  padding: 5px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.right-col,
.left-col {
  width: 50%;
  box-sizing: border-box;
}

.right-col {
  float: right;
}

.left-col {
  float: left;
}

.list-group-item {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.form-control {
  display: inline-block;
  width: calc(100% - 80px);
  padding: .15rem .5rem;
}

.lbl {
  width: 60px;
}

.save-btn {
  margin-top: 5px;
}
